<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Token:- <%= token%></h1>
    <label>Enter New Password</label>
    <input id="input" type="password" placeholder="Enter Your Password">
    <button onclick="handelSubmit()">Submit</button>
</body>
<script>
    let token = '<%= token%>'
    let input = document.getElementById('input')
    async function handelSubmit(){
        let res = await fetch(`https://job-portal-backend-1-wd2i.onrender.com/user/resetPassword/${token}`,{
            method:"POST",
            headers:{
                'content-type':"application/json"
            },
            body:JSON.stringify({NewPassword:input.value})
        }
    )
    if(res.data.success){
        alert('password change back to page')
    }
    else{
        alert('eroor')
    }
    }

</script>
</html>